.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;
    color: white;
}

canvas {
    margin-top: 160px;
    margin-bottom: 10px;
    box-shadow: 20px 20px 20px grey;
    border-radius: 10px;
    background-color: azure;
}